<div class="comment" *ngIf="contextService.user | async as vm">
  <div class="commenter-info">
    <img 
    class="avatar"
    [src]="data.opAvatar" 
    alt="your-avatar">

    <div class="name-and-title">
      <span class="title">
        {{ data.opTitle }}
      </span>
      <span class="name">
        {{ data.opName }}
      </span>
    </div>

    <div class="controls">
      <svg-icon
        *ngIf="vm.id === data.authorId"
        (click)="delete.emit(data)"
        class="delete-icon" 
        [applyClass]="true" 
        name="delete">
      </svg-icon>
    </div>
  </div>
  <div class="comment-content">
    {{ data.content }}
  </div>
</div>