<div class="content">
    <div class="auth-form">

        <form 
        [formGroup]="loginForm" 
        (ngSubmit)="onSubmitLoginForm()">

        <h1>Witaj ponownie</h1>
        <p>Wprowadź swoje dane aby się zalogować</p>

        <label for="email">Email:</label>
        <input 
            type="text"
            id="email"
            formControlName="email">
        <label for="password">Hasło:</label>
        <input 
            type="password"
            id="password"
            formControlName="password">

        <span class="forget-pass">Zapomniałeś hasła?</span>
        <button type="submit">Zaloguj</button>
        <div class="change-auth">
            <span>Nie masz konta?</span>
            <span class="switch-auth-btn">Zajerestruj się</span>
        </div>
    </form>
    </div>
    
</div>
