.auth-content {
  background-image: url('../../../assets/Images/backgrounds/login-back.png');
}

.forget-pass {
  align-self: flex-end;
  //font-size: 18px;
  font-size: 0.9em;
  font-family: 'Quicksand';
  font-weight: 400;
  text-decoration: underline;
}

.forget-pass:hover {
  cursor: pointer;
}