.pop-up-background {
  position: fixed;
  z-index: 40;
  top: 0px;
  left: 0px;

  background: rgba(245, 245, 245, 0.65);
  width: 100%;
  min-height: 100%;
}

:host ::ng-deep .post {
  max-width: var(--post-pop-up-max-width) !important;
  box-sizing: border-box !important;

  .post-content {
    max-height: 12em !important;
  }
}


.pop-up-content {
  z-index: 41;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;

  .fixed-wrap {
    position: fixed;
  }
}

.relative-wrap {
  position: relative;
}

app-post {
  position: relative;
  z-index: 41;
}

app-post-comments-section {
  position: relative;
  z-index: 40;
  top: -40px;
}



