// @import '../../../../../styles/post-comments.scss';
@import '../../../../styles/post-comments.scss';

.center {
  margin: 2em 0px;
}

.loader {
  font-size: var(--post-font-size);
}

.text-center {
  font-family: "Quicksand";
  font-size: 1.5em;
  margin: 1em 0px;
}