<div class="post">
  <div class="stats">
    <div class="vote-section">
      <svg-icon class="sort" [applyClass]="true" name="sort-up"></svg-icon>
      <span class="post-rate">{{ data.rate }}</span>
      <svg-icon class="sort" [applyClass]="true" name="sort-down"></svg-icon>
    </div>
    <div class="other-section">
      <svg-icon class="eye-icon other-sec-icon" [applyClass]="true" name="eye"></svg-icon>
      <span>{{ data.followersCount }}</span>
      
      <svg-icon class="comment-icon other-sec-icon" [applyClass]="true" name="comment"></svg-icon>
      <span>{{ data.commentsCount }}</span>
    </div>
  </div>
  <div class="main">
    <div class="header">
      <div class="basic-info">
        <div class="title">{{ data.title }}</div>
        <div class="author-and-category">
          {{ data.author }}
        </div>
      </div>
      <div class="bookmark" (click)="toggleFollowingStatus()">
        <ng-container *ngIf="isFollowed">
          <svg-icon class="bookmark-icon" [applyClass]="true" name="bookmark2"></svg-icon>
        </ng-container>
        <ng-container *ngIf="!isFollowed">
          <svg-icon class="bookmark-icon" [applyClass]="true" name="bookmark"></svg-icon>
        </ng-container>
      </div>
    </div>
    <div class="post-content">
      {{ data.content }}
    </div>
    <div class="tag-section">
      <ng-container *ngIf="data.tags.length > 3 && !showAllTags">
        <ng-container *ngFor="let tag of data.tags | slice:0:3">
          <div class="tag" [class]="tag.color">
            {{ tag.content }}
          </div>
        </ng-container>
        <div class="show-more-tags" (click)="showMoreTags()">
          +{{ data.tags.length - 3 }}
        </div>
      </ng-container>
      <ng-container *ngIf="data.tags.length <= 3 || showAllTags">
        <ng-container *ngFor="let tag of data.tags">
          <div class="tag" [class]="tag.color">
            {{ tag.content }}
          </div>
        </ng-container>
      </ng-container>
      <img 
      class="images"
      [src]='data.image' 
      alt="placeholder">
    </div>
  </div>
</div>

