<div class="post">
  <div class="stats">
    <div class="vote-section">
      <svg-icon class="sort" [applyClass]="true" name="sort-up"></svg-icon>
      <span class="post-rate">21</span>
      <svg-icon class="sort" [applyClass]="true" name="sort-down"></svg-icon>
    </div>
    <div class="other-section">
      <i class="fa-solid fa-eye"></i>
      <span>69</span>
  
      <i class="fa-solid fa-comment"></i>
      <span>69</span>
    </div>
  </div>
  <div class="main">
    <div class="header">
      <div class="basic-info">
        <div class="title">Skok nadciśnienia czaszkowego</div>
        <div class="author-and-category">
          Dr n. med. Tomasz Budny
        </div>
      </div>
      <div class="bookmark">
        <i class="fa-solid fa-bookmark"></i>
      </div>
    </div>
    <div class="post-content">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum maiores ad eaque, officia dignissimos quasi, omnis dolore cum commodi architecto at exercitationem rem natus temporibus, totam modi. Voluptatum cumque iusto vitae adipisci ut consequuntur, harum odit rerum.
    </div>
    <div class="tag-section">
      <div class="tag orange">
        Złamania
      </div>
      <div class="tag blue">
        Wylew
      </div>
      <div class="tag purple">
        Mózg
      </div>
      <div class="show-more-tags">
        +2
      </div>
      <img 
      class="images"
      src="../../../assets/Images/placeholders/post-placeholder.png" 
      alt="placeholder">
    </div>
  </div>
</div>

