:host {
  font-size: var(--post-font-size);
}

.dialog-content {
  width: var(--post-options-dialog-width);
  font-family: 'Quicksand';
  color: #02237E;
  background-color: #ffff;
  box-shadow: var(--post-box-shadow);
  //padding: 1em;
  border-radius: 11px;
  box-sizing: border-box;

  .options {
    font-size: 1.4em;

    .option {
      display: flex;
      align-items: center;
      gap: 0.2em;
      padding: 0.5em 0.5em;
      border-radius: 9px;

      .option-icon {
        width: 1.2em;
        height: 1.2em;
      }
    }

    .option:hover {
      background-color: #B9CFFB;
    }
  }
}

.horizontal-line {
  margin: 0px 0.5em;
  border: 1px solid #D9D9D9CC;
  box-sizing: border-box;
}

