.content {
  background-image: url('../../../assets/Images/backgrounds/registration-back.png');
}

.auth-form {
  form {
    // width: 65%;
    input {
      width: 130%;
    }

    label {
      align-self: center;
      width: 130%;
    }
  }
}

