.relative-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.delete-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
}

.delete-icon:hover {
  cursor: pointer;
}

.tag {
  box-sizing: border-box;
}