<div class="post">
  <div class="controls">
    <svg-icon class="cancel-icon" [applyClass]="true" name="cancel"></svg-icon>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="title">
      Wpisz tytuł
    </div>
  <div class="form-content">
    <div class="text-content">
      Wpisz treść
    </div>
    <div class="other-content">
      <dropdown-input
        placeholder="kategorie"
        [titles]="titles">
      </dropdown-input>
      <!-- <span class="post-form-input">
        Wpisz Hashtag
      </span> -->
      <hashtag-input></hashtag-input>
      <span class="post-form-input">
        Dodaj zdjęcie
      </span>
      <button type="submit">Opublikuj</button>
    </div>
  </div>
  </form>
</div>
