<div class="post">
  <div class="controls">
    <svg-icon class="cancel-icon" [applyClass]="true" name="cancel"></svg-icon>
  </div>
  <form>
    <div class="title">
      Wpisz tytuł
    </div>
  <div class="form-content">
    <div class="text-content">
      Wpisz treść
    </div>
    <div class="other-content">
      <span>Okulistyka</span>
      <span>Okulistyka</span>
      <span>Okulistyka</span>
      <span>Okulistyka</span>
      <span>Okulistyka</span>
    </div>
  </div>
  </form>
</div>
