.input-wrap {
  border-bottom: 4px solid #b9cffb;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  // font-size: 18px;
  padding: 0.83333em;
  // padding: 10px;
  color: #02237E;
  border: none;
}

::placeholder {
  color: #02237E;
}

input:focus-visible {
  border: none;
  outline: none;
}

.add-icon {
  width: 1.5em;
  height: 1.5em;
}

.add-icon {
  vertical-align: middle;
}

.add-icon:hover {
  cursor: pointer;
}

.hashtags {
  margin-top: 0.7em;
  // margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.41666em;
  // gap: 5px;
}