<div class="input-wrap">
  <input 
    type="text" 
    maxlength="13"
    placeholder="Wpisz Hashtag"
    [(ngModel)]="newHashtag">
  <svg-icon 
    (click)="addHashtag()"
    *ngIf="newHashtag.length > 0"
    class="add-icon" 
    [applyClass]="true" 
    name="add">
  </svg-icon>
</div>
<div class="hashtags">
  <ng-container *ngFor="let tag of hashtags; let i = index">
    <hashtag 
      [tag]="tag"
      [id]="i"
      (delete)="onDeleteHashtag($event)">
    </hashtag>
  </ng-container>
</div>