<div class="dialog-content">
  <div class="options">
    <div class="option pointer">
      <svg-icon 
        class="option-icon" 
        [applyClass]="true" 
        name="edit">
      </svg-icon>
      <span>
       edytuj post
      </span>
    </div>
    <div class="horizontal-line"></div>
    <div class="option pointer">
      <svg-icon 
        class="option-icon" 
        [applyClass]="true" 
        name="solved">
      </svg-icon>
      <span>
       oznacz jako rozwiązane
      </span>
    </div>
    <div class="horizontal-line"></div>
    <div class="option pointer">
      <svg-icon 
        class="option-icon" 
        [applyClass]="true" 
        name="bookmark2">
      </svg-icon>
      <span>
       dodaj do zapisanych
      </span>
    </div>
    <div class="horizontal-line"></div>
    <div class="option pointer">
      <svg-icon 
        class="option-icon" 
        [applyClass]="true" 
        name="bin">
      </svg-icon>
      <span>
        usuń post
      </span>
    </div>
  </div>
</div>