<div class="navbar">
  <span class="nav-brand">LOGO</span>
  <search-bar></search-bar>

  <div class="nav-items">
    <span class="nav-item">
      <svg-icon class="nav-icon" [applyClass]="true" name="messages"></svg-icon>
    </span>
    <span class="nav-item" routerLink="/profile">
      <svg-icon class="nav-icon" [applyClass]="true" name="profile"></svg-icon>
    </span>
    <span class="nav-item" (click)="logout()">
      <svg-icon class="nav-icon" [applyClass]="true" name="sign-out"></svg-icon>
    </span>
  </div>
</div>
