@import "src/variables.scss";

.navbar {
  position: fixed;
  z-index: 10000;

  height: $navbar-height;
  width: 100vw;
  background-color: $secondary-color;

  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 1.5em;

  box-sizing: border-box;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  margin-right: 2em;
}

.nav-brand:hover {
  cursor: pointer;
}

.nav-items {
  display: inline;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #FFFF;
  font-size: 1.3em;

  .nav-item {
    margin-left: 1em;
  }

  .nav-icon {
    width: 40px;
    height: 40px;
  }

  .nav-item:hover {
    cursor: pointer;
  }
}

search-bar {
  width: 800px;
}

@media screen and (max-width: 500px) { 
  // search-bar {
  //   display: none;
  // }

  .nav-brand {
    margin-right: 0em;
  }
}