  
  <div class="flex-wrap">
    <div 
      *ngIf="isAddPostVisible"
      class="add-new-post" 
      (click)="popUpService.openCreatePostModal()">
      <svg-icon 
      class="new-post-icon" [applyClass]="true" name="message-plus"></svg-icon>
      <span>Dodaj Post</span>
    </div>
  </div>
  
  <div class="posts" *ngIf="postService.getPosts() | async as vm; else loading">
    <ng-container *ngFor="let post of vm">
      <app-post
        [data]="post">
      </app-post>
    </ng-container>
  </div>
  <ng-template #loading>
    <div class="center">
      <div class="loader"></div>
    </div>
  </ng-template>
  
