<div class="relative-wrap" >
  <app-pop-up
    PopUp
    *ngIf="isPostDetailsVisible"
    (close)="isPostDetailsVisible = false">
    <app-post-detailed
      [data]="postDetailed">
    </app-post-detailed>
  </app-pop-up>

  <app-pop-up
    PopUp
    *ngIf="isCreatePostVisible"
    (close)="isCreatePostVisible = false">
    <app-create-post (close)="isCreatePostVisible = false">
    </app-create-post>
  </app-pop-up>
</div>

<div class="posts">
  <ng-container *ngFor="let post of posts">
    <app-post
      (showDetails)="showPostDetails($event)"
      [data]="post">
    </app-post>
  </ng-container>
</div>
