<div class="relative-wrap" *ngIf="isPopUpVisible">
  <!-- <app-post-detailed
    PopUp
    [data]="postDetailed"
    (close)="isPopUpVisible = false">
  </app-post-detailed> -->
  <app-pop-up
    PopUp
    (close)="isPopUpVisible = false">
    <app-post
      [data]="postDetailed">
    </app-post>
  </app-pop-up>
</div>

<div class="posts">
  <ng-container *ngFor="let post of posts">
    <app-post
      (showDetails)="showPostDetails($event)"
      [data]="post">
    </app-post>
  </ng-container>
</div>
