<div class="content">
    <div class="column">
        <div class="container">
            <div class="image"></div>
            <div class="photo">
                <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
            </div>
            <div class="describe">Student Michał Kalisz</div>
            <svg-icon [applyClass]="true" class="icon" name="dots"></svg-icon>
        </div>
        <div class="container">
            <div class="image"></div>
            <div class="photo">
                <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
            </div>
            <div class="describe">Student Michał Kalisz</div>
            <svg-icon [applyClass]="true" class="icon" name="dots"></svg-icon>
        </div>
        <div class="container">
            <div class="image"></div>
            <div class="photo">
                <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
            </div>
            <div class="describe">Student Michał Kalisz</div>
            <svg-icon [applyClass]="true" class="icon" name="dots"></svg-icon>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <div class="image"></div>
            <div class="photo">
                <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
            </div>
            <div class="describe">Student Michał Kalisz</div>
            <svg-icon [applyClass]="true" class="icon" name="dots"></svg-icon>
        </div>
        <div class="container">
            <div class="image"></div>
            <div class="photo">
                <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
            </div>
            <div class="describe">Student Michał Kalisz</div>
            <svg-icon [applyClass]="true" class="icon" name="dots"></svg-icon>
        </div>
        <div class="container">
            <div class="image"></div>
            <div class="photo">
                <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
            </div>
            <div class="describe">Student Michał Kalisz</div>
            <svg-icon [applyClass]="true" class="icon" name="dots"></svg-icon>
        </div>
    </div>
</div>