<div class="controls">
  <div class="navigation">

    <div class="home-link link">
      <!-- <i class="fa-solid fa-house"></i> -->
      <svg-icon class="link-icon" [applyClass]="true" name="home"></svg-icon>
      <span>Home</span>
    </div>

    <div class="popular-link link">
      <!-- <i class="fa-solid fa-chart-simple"></i> -->
      <svg-icon class="link-icon" [applyClass]="true" name="hossa"></svg-icon>
      <span>Popularne</span>
    </div>

    <div class="popular-link link">
      <!-- <i class="fa-solid fa-message"></i> -->
      <svg-icon class="link-icon" [applyClass]="true" name="message-1"></svg-icon>
      <span>Moje posty</span>
    </div>

    <div class="popular-link link">
      <!-- <i class="fa-solid fa-bookmark"></i> -->
      <svg-icon class="link-icon" [applyClass]="true" name="bookmark-2"></svg-icon>
      <span>Zapisane</span>
    </div>

  </div>

  <div class="add-new-post">
    <i class="fa-solid fa-message"></i>
    <!-- <svg-icon class="link-icon" [applyClass]="true" name="home"></svg-icon> -->
    <span>Dodaj Post</span>
  </div>
</div>