<div class="controls">
  <div class="navigation">

    <div class="home-link link">
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    </div>

    <div class="popular-link link">
      <i class="fa-solid fa-chart-simple"></i>
      <span>Popularne</span>
    </div>

    <div class="popular-link link">
      <i class="fa-solid fa-message"></i>
      <span>Moje posty</span>
    </div>

    <div class="popular-link link">
      <i class="fa-solid fa-bookmark"></i>
      <span>Zapisane</span>
    </div>

  </div>

  <div class="add-new-post">
    <i class="fa-solid fa-message"></i>
    <span>Dodaj Post</span>
  </div>
</div>