<div class="controls">
  <div class="navigation">

    <div class="home-link link">
      <svg-icon [applyClass]="true" name="home"></svg-icon>
      <span>Home</span>
    </div>

    <div class="popular-link link">
      <svg-icon [applyClass]="true" name="hossa"></svg-icon>
      <span>Popularne</span>
    </div>

    <div class="popular-link link">
      <svg-icon [applyClass]="true" name="message-1"></svg-icon>
      <span>Moje posty</span>
    </div>

    <div class="popular-link link">
      <svg-icon [applyClass]="true" name="bookmark-2"></svg-icon>
      <span>Zapisane</span>
    </div>

  </div>

  <div class="add-new-post">
    <svg-icon class="new-post-icon" [applyClass]="true" name="message-plus"></svg-icon>
    <span>Dodaj Post</span>
  </div>
</div>