<div class="post">
  <div class="stats">
    <div class="vote-section">
      <i class="fa-solid fa-caret-up"></i>
      <span>21</span>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="other-section">
      <i class="fa-solid fa-eye"></i>
      <span>69</span>
  
      <i class="fa-solid fa-comment"></i>
      <span>69</span>
    </div>
  </div>
  <div class="main">
    <div class="header">
      <div class="basic-info">
        <div class="title">Skok nadciśnienia czaszkowego</div>
        <div class="author-and-category">
          Dr n. med. Tomasz Budny
        </div>
      </div>
      <div class="bookmark">
        <i class="fa-solid fa-bookmark"></i>
      </div>
    </div>
    <div class="post-content">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum maiores ad eaque, officia dignissimos quasi, omnis dolore cum commodi architecto at exercitationem rem natus temporibus, totam modi. Voluptatum cumque iusto vitae adipisci ut consequuntur, harum odit rerum. Assumenda aspernatur temporibus quam in impedit sapiente expedita ipsa praesentium, fuga facere. Ex.
      sdsujbhdljasbdjulsabdjbasjludbsajldbjsabdjasbdhjksabdhkjasbdhkbashdb
    </div>
    <div class="tag-section">
      
    </div>
  </div>
</div>

