<div class="content">
    <div class="container">
        <div class="describe"><strong>Tytuł: </strong> Analiza wpływu dawki izotopów jodu na objawy starzenia</div>
        <div class="describe"><strong>Autorzy: </strong> Dr Anna Starmach, Dr Krzysztof Kieślowski, Elżbieta Dąbek</div>
        <div class="describe"><strong>Data opublikowania: </strong> 12.02.2022</div>
        <div class="describe"><strong>Abstrakt: </strong></div>
        <div class="describe">Lorem ipsum dolor sit amet consectetur. Viverra semper augue mattis ornare. Pretium eu sit integer nibh nunc urna sed. 
                              Lobortis amet nunc posuere semper nunc iaculis habitasse. Aliquam diam vestibulum penatibus id nam. 
                            </div>
        <div class="describe"><strong>Link: </strong> https://pl.wikipedia.org/wiki/Publikacja_naukowa</div>
    </div>
</div>
