.comment {
  background-color: var(--post-background-color);
  height: 200px;
  margin: var(--post-margin);
  box-shadow: var(--post-box-shadow);
  border-radius: var(--post-border-radius);  
  padding: var(--post-border-radius);
}