<div class="comments-section">
  <div class="create-new-comment">
    <img 
      class="avatar"
      src="https://lastfm.freetls.fastly.net/i/u/ar0/efbf5c08292a4186c1b13cb392cdd18b.jpg" 
      alt="your-avatar">
      <div class="vertical-line">

      </div>
      <div class="comment-input">
        Napisz co myślisz...
      </div>
  </div>
  <div class="comments-list">
    <div class="comment">
      <div class="commenter-info">
        <img 
        class="avatar"
        src="https://i.ytimg.com/vi/V8f-1olyC1s/maxresdefault.jpg" 
        alt="your-avatar">

        <div class="name-and-title">
          <span class="title">
            Student
          </span>
          <span class="name">
            Mikołaj Leśny
          </span>
        </div>
      </div>
      <div class="comment-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ea pariatur non, deserunt dolor totam magnam incidunt, atque aperiam deleniti laborum quos architecto voluptates ad explicabo commodi! Sapiente perspiciatis exercitationem nemo sint itaque adipisci excepturi qui voluptatibus, beatae, sed, cum magnam impedit quibusdam vero fugiat eos? Voluptatibus quae omnis quibusdam.
      </div>
    </div>

    <div class="comment">
      <div class="commenter-info">
        <img 
        class="avatar"
        src="https://i.ytimg.com/vi/V8f-1olyC1s/maxresdefault.jpg" 
        alt="your-avatar">

        <div class="name-and-title">
          <span class="title">
            Student
          </span>
          <span class="name">
            Mikołaj Leśny
          </span>
        </div>
      </div>
      <div class="comment-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ea pariatur non, deserunt dolor totam magnam incidunt, atque aperiam deleniti laborum quos architecto voluptates ad explicabo commodi! Sapiente perspiciatis exercitationem nemo sint itaque adipisci excepturi qui voluptatibus, beatae, sed, cum magnam impedit quibusdam vero fugiat eos? Voluptatibus quae omnis quibusdam.
      </div>
    </div>

    <div class="comment">
      <div class="commenter-info">
        <img 
        class="avatar"
        src="https://i.ytimg.com/vi/V8f-1olyC1s/maxresdefault.jpg" 
        alt="your-avatar">

        <div class="name-and-title">
          <span class="title">
            Student
          </span>
          <span class="name">
            Mikołaj Leśny
          </span>
        </div>
      </div>
      <div class="comment-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ea pariatur non, deserunt dolor totam magnam incidunt, atque aperiam deleniti laborum quos architecto voluptates ad explicabo commodi! Sapiente perspiciatis exercitationem nemo sint itaque adipisci excepturi qui voluptatibus, beatae, sed, cum magnam impedit quibusdam vero fugiat eos? Voluptatibus quae omnis quibusdam.
      </div>
    </div>
  </div>
</div>