<div class="comments-section">
  <div class="create-new-comment">
    <img 
      class="avatar"
      src="https://lastfm.freetls.fastly.net/i/u/ar0/efbf5c08292a4186c1b13cb392cdd18b.jpg" 
      alt="your-avatar">
      <div class="vertical-line">

      </div>
      <div class="comment-input">
        Napisz co myślisz...
      </div>
  </div>
  <div class="comments-list">
    <app-post-comment></app-post-comment>
    <app-post-comment></app-post-comment>
    <app-post-comment></app-post-comment>
  </div>
</div>