<div
  *ngIf="contextService.user | async as vm"
  class="comments-section">
  <div class="create-new-comment">
    <img 
      class="avatar"
      [src]="vm.profilePictore" 
      alt="your-avatar">
      <div class="vertical-line">
      </div>
      <textarea 
      [(ngModel)]="newComment"
      class="comment-input" 
      placeholder="Napisz co myślisz..."></textarea>
      <svg-icon 
      (click)="addComment()"
      *ngIf="newComment.length > 0"
      class="add-icon" 
      [applyClass]="true" 
      name="add">
    </svg-icon>
  </div>
  <div class="comments-list">
    <ng-container *ngFor="let comment of comments">
      <app-post-comment
        [isAuthorReading]="vm.id === postAuthorId"
        (delete)="onDeleteComment($event)"
        [data]="comment">
      </app-post-comment>
    </ng-container>
  </div>
</div>