<ng-container 
  *ngIf="popUpService.isImagesPreviewVisible | async as vm">  
<app-image-preview-modal
  PopUp
  [images]="vm">
</app-image-preview-modal>
</ng-container>
<div
  *ngIf="confirmModalService.isConfirmModalVisible | async"
  class="confirm-modal-wrap">
  <confirm-modal></confirm-modal>
</div>

<app-navbar></app-navbar>
<div class="nav-content">
  <app-control-section *ngIf="controlIsVisible"></app-control-section>

  <app-posts-section></app-posts-section>

  <app-friends-section *ngIf="friendsIsVisible"></app-friends-section>
</div>

