
.content{
    font-size: var(--post-font-size);
    margin: -160px auto;
    max-width: 1500px;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 23px;
    background: #FFF;
    box-shadow: 0px 5px 10px 1px rgba(217, 217, 217, 0.50);
    padding: var(--post-padding);
    margin: var(--post-margin);
    display: flex;
    max-width: 1500px;
    height: 70px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

  .describe{
    color: #000;
    font-size: 20px;
    font-family: "Quicksand";
    margin-right: 153px;
  }

  .describe-first{
    color: #000;
    font-size: 20px;
    font-family: "Quicksand";
    margin-right: 136px;
  }

  .describe-second{
    color: #000;
    font-size: 20px;
    font-family: "Quicksand";
    margin-right: 50px;
  }

  .describe-third{
    color: #000;
    font-size: 20px;
    font-family: "Quicksand";
    margin-right: 234px;
  }


  .photo{
    width: 55px;
    height: 55px;
    margin-left: 45px;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-right: 23px;
  }
  
  .profile-picture {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    object-fit: cover;
  }

