<div class="content">
    <div class="container">
        <div class="image"></div>
        <div class="photo">
            <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
        </div>
        <div class="describe">Student(ka) Elżbieta Dąbek dodał(a) publikację.</div>
    </div>
    <div class="container">
        <div class="image"></div>
        <div class="photo">
            <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
        </div>
        <div class="describe-first">Student(ka) Elżbieta Dąbek skomentował(a) post.</div>
    </div>
    <div class="container">
        <div class="image"></div>
        <div class="photo">
            <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
        </div>
        <div class="describe-second">Student(ka) Elżbieta Dąbek odpowiedział(a) na komentarz.</div>
    </div>
</div>
