@import "src/variables.scss";

// zmienić potem na assets
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

html {
    font-size: 12px
}

body {
    margin: 0px;
    font-family: 'Arya', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

button:hover {
    cursor: pointer;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

.pointer:hover {
    cursor: pointer;
}

.nav-content {
    padding-top: var(--navbar-height);
}

@media screen and (max-width: 500px) {
    :root {
      --post-font-size: 1.6vw;
    }
}  