@import "src/variables.scss";

// zmienić potem na assets
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

body {
    margin: 0px;
    font-family: 'Arya', sans-serif;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

// do usunuęcia
// form {
//     * {
//         display: block;
//     }
// }

.errors {
    margin-top: 10px;

    .error {
        background-color: $primary-color;
        text-align: center;
    }
}