<div class="friends">

  <div class="friend">
    <img class="avatar" src="../../../assets/Images/placeholders/avatar-placeholder.png" alt="friend-avatar">
    <div class="name-and-activity-status">
      <div class="name">
        Maja Staszewska
      </div>
      <svg class="activity-status" height="12" width="12">
        <circle cx="6" cy="6" r="6" fill="blue" />
      </svg>
    </div>
  </div>

  <div class="friend">
    <img class="avatar" src="../../../assets/Images/placeholders/avatar-placeholder.png" alt="friend-avatar">
    <div class="name-and-activity-status">
      <div class="name">
        Kajetan Jehn-Olszewski
      </div>
      <svg class="activity-status" height="12" width="12">
        <circle cx="6" cy="6" r="6" fill="blue" />
      </svg>
    </div>
  </div>

  <div class="friend">
    <img class="avatar" src="../../../assets/Images/placeholders/avatar-placeholder.png" alt="friend-avatar">
    <div class="name-and-activity-status">
      <div class="name">
        Janek Paweł von Chuj-Wi-Co-Korwin
      </div>
      <svg class="activity-status" height="12" width="12">
        <circle cx="6" cy="6" r="6" fill="blue" />
      </svg>
    </div>
  </div>

</div>