:host {
    color: #656c7f;
    position: relative;
}

:host.ng-invalid.ng-touched {
  .menu-trigger {
    border-color: var(--error-color);
  }
}

:host.ng-valid.ng-touched {
  .menu-trigger {
    border-color: var(--success-color);
  }
}

.menu-trigger {
  position: relative;
  padding: 10px;
  background: linear-gradient(
      0deg,
      rgba(185, 207, 251, 0.7),
      rgba(185, 207, 251, 0.7)
    ),
    #ffffff;
  border: 5px solid #b9cffb;
  border-radius: 20px;
  cursor: pointer;
  height: 20px;
  font-size: 22px;
  font-weight: 400;
}

span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu {
  position: absolute;
  width: 112%;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 30;

  background: linear-gradient(
      0deg,
      rgba(185, 207, 251, 0.7),
      rgba(185, 207, 251, 0.7)
    ),
    #ffffff;
  border-radius: 0px 0px 16px 16px;
}

.menu-item {
  color: #656c7f;
  text-align: left;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  background-color: rgba(0, 79, 254, 0.2);
}

// scrollbar

::-webkit-scrollbar {
  width: 0px;
}


@media screen and (max-width: 500px) { 
  .menu-trigger {
    font-size: 16px;
  }

  .menu {
    width: 112%;
  }

  .menu-item {
    font-size: 16px;
  }
}

@media screen and (max-height: 1000px) { 
  .menu {
    max-height: 180px;
  }
}

@media screen and (max-height: 700px) { 
  .menu {
    max-height: 110px;
  }
}
