<div class="content">
    <app-navbar></app-navbar>
    <div class="user-profile-container">
        <div class="photo">
            <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
            <div class="button-overlay">
                <span class="button-text">Student</span>
            </div>
        </div>
        <div class="full-name">Elżbieta Dąbek</div>
        <div class="friends">
            <div class="friend">
                <svg-icon [applyClass]="true" class="icon" name="phone"></svg-icon>
                <div class="name">
                    555 444 666
                </div>
            </div>
            <div class="friend">
                <svg-icon [applyClass]="true" class="icon" name="location"></svg-icon>
                <div class="name">
                    elzbieta.dabek@mymail.com
                </div>
            </div>
            <div class="friend">
                <svg-icon [applyClass]="true" class="icon" name="message-profile"></svg-icon>
                <div class="name">
                    Warszawski Uniwersytet Medyczny
                </div>
            </div>
            <div class="friend">
                <svg-icon [applyClass]="true" class="icon" name="instagram"></svg-icon>
                <div class="name">
                    instagram.com/ela.dab
                 </div>
            </div>
        </div>
    </div>
</div>
