<div class="content">
    <app-navbar></app-navbar>
    <div class="user-profile-container">
        <div class="photo">
            <img class="profile-picture" src="../../../assets/Images/placeholders/user-profile.jpg" alt="Profilowe">
            <div class="button-overlay">
                <span class="button-text">Student</span>
            </div>
        </div>
        <div class="full-name">Elżbieta Dąbek</div>
        <div class="infos">
            <div class="info">
                <svg-icon [applyClass]="true" class="icon" name="location"></svg-icon>
                <div class="name">
                    Warszawski Uniwersytet Medyczny
                </div>
            </div>
            <div class="info">
                <svg-icon [applyClass]="true" class="icon" name="medical"></svg-icon>
                <div class="name">
                    Okulistyka
                </div>
            </div>
            <div class="info">
                <svg-icon [applyClass]="true" class="icon" name="phone"></svg-icon>
                <div class="name">
                    555 444 666
                </div>
            </div>
            <div class="info">
                <svg-icon [applyClass]="true" class="icon" name="message-profile"></svg-icon>
                <div class="name">
                    elzbieta.dabek@mymail.com
                 </div>
            </div>
        </div>
        <div class="informations">
            <div class="information">
                <div class="name">
                    40 obserwowanych
                </div>
            </div>
            <div class="information">
                <div class="name">
                    76 obserwowujących
                </div>
            </div>
            <div class="information">
                <div class="name">
                    14 kontaktów
                </div>
            </div>
            <div class="information">
                <div class="name">
                    2 publikacje
                 </div>
            </div>
            <div class="information">
                <div class="name">
                    9 postów
                 </div>
            </div>
        </div>
    </div>
</div>
